<suite name="first">
<listeners>
        <listener class-name="reporting.CustomTestNGReporter" />
    </listeners>
	<test name="Parabank">
		<classes>
		
			
			 
			  <class name="testScripts.UserRegistration"/>
			  <class name="testScripts.ParabankLoginCheck"/>
			  <class name="testScripts.CreateOpenAccount"/>
			
			
		</classes>
	
	</test>

</suite>


<!-- This is a comment --> 